@import url('./header.css');
@import url('./footer.css');
@import url('./pagination.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 2;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 125px 0;
}

.content {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    & .pag {
        font-family: 'IBM Plex sans', 'sans-serif';
        font-size: 18px;
        & .show {
            display: flex;
            column-gap: 10px;
            & select {
                cursor: pointer;
                width: 50px;
                font-family: 'IBM Plex sans', 'sans-serif';
                font-size: 16px;
                border: 0;
                outline: 0;
                border-bottom: 1px solid #262626;
            }
        }
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 30px;
        & .icons {
            display: flex;
            align-items: center;
            column-gap: 20px;
            & .controls {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }
            & .view {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }
        }
    }

    &__cards {
        display: grid;
        font-family: 'IBM Plex sans';
        grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
        justify-content: space-between;
        row-gap: 35px;
        column-gap: 35px;
        padding: 0 88px;
        &__card {
            border: 1px solid rgba(26,26,26,0.15);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            cursor: pointer;
            align-items: center;
            transition: 0.2s all ease-in-out;
            & img {
                padding: 5px;
                border-radius: 15px 15px 0 0;
                width: 100%;
            }
            &__content {
                padding: 0px 10px 15px;
                display: flex;
                flex-direction: column;
                row-gap: 15px;
                align-items: center;
                &__title {
                    font-size: 20px;
                }
                &__price {
                    font-family: 'Montserrat';
                    color: #F22613;
                    font-size: 24px;
                }
            }
            &:hover {
                transform: translateY(-10px);
            }
        }
    }

    
}


.h2title {
    font-family: 'Montserrat';
    color: #F22613;
    font-size: 26px;
}

.h1title {
    font-family: 'Montserrat Light', sans-serif;
    color: #590B0B;
    font-size: 34px;
}