@import url("./header.css");
@import url("./footer.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.popupMenu {
  transform: translateY(40px);
  scale: 1;
  width: 70px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: min(1610px, 90%);
}
.content__title {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__auctions {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
}
.content__auctions__categories {
  font-family: "Montserrat", "sans-serif";
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.content__auctions__categories__ctg {
  border: 1px solid rgba(26, 26, 26, 0.15);
  display: flex;
  padding: 30px 20px;
  border-radius: 15px;
  justify-content: center;
}
.content__auctions__categories__ctg ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.content__auctions__categories__ctg ul li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 25px;
  list-style: none;
  border-radius: 15px;
  background-color: #f0f2f2;
}
.content__auctions__categories__ctg ul li:hover {
  background-color: #D81200;
  color: #fff;
}
.content__auctions__categories__ctg ul li.active {
  background-color: #F22613;
  color: #fff;
}
.content__auctions__categories__region {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 20px;
  align-items: center;
  border: 1px solid rgba(26, 26, 26, 0.15);
  border-radius: 15px;
}
.content__auctions__categories__region select {
  font-family: "Montserrat Light", "sans-serif";
  width: 100%;
  outline: 0;
  border: 1px solid rgba(26, 26, 26, 0.15);
  height: 25px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
}
.content__auctions__categories__region select:hover {
  border: 1px solid #F22613;
}
.content__auctions__cards {
  display: grid;
  font-family: "IBM Plex sans";
  grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
  justify-content: space-between;
  row-gap: 35px;
  -moz-column-gap: 35px;
       column-gap: 35px;
  padding: 0 88px;
}
.content__auctions__cards__card {
  border: 1px solid rgba(26, 26, 26, 0.15);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  cursor: pointer;
  align-items: center;
  transition: 0.2s all ease-in-out;
}
.content__auctions__cards__card img {
  padding: 5px;
  border-radius: 15px 15px 0 0;
  width: 100%;
}
.content__auctions__cards__card__content {
  padding: 0px 10px 15px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
}
.content__auctions__cards__card__content__title {
  font-size: 20px;
}
.content__auctions__cards__card__content__price {
  font-family: "Montserrat";
  color: #F22613;
  font-size: 24px;
}
.content__auctions__cards__card:hover {
  transform: translateY(-10px);
}
.content__auctions__topUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  padding: 10px 20px 20px;
  border: 1px solid rgba(26, 26, 26, 0.15);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
}
.content__auctions__topUsers__userCard {
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px rgba(26, 26, 26, 0.15);
  font-family: "IBM Plex sans";
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}
.content__auctions__topUsers__userCard__logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  width: 100%;
}
.content__auctions__topUsers__userCard__logo .logo {
  height: 30px;
  width: 30px;
  background-color: #f22613;
  border-radius: 50%;
}

.h2title {
  font-family: "Montserrat";
  color: #F22613;
  font-size: 26px;
}

.h1title {
  font-family: "Montserrat Light", sans-serif;
  color: #590B0B;
  font-size: 34px;
}/*# sourceMappingURL=style.css.map */