@import url('./header.css');
@import url('./footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.popupMenu {
    transform: translateY(40px);
    scale: 1;
    width: 70px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: min(1610px, 90%);
    &__title {
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__auctions {
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        &__categories {
            font-family: 'Montserrat', 'sans-serif';
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            &__ctg {
                border: 1px solid rgba(26,26,26,0.15);
                display: flex;
                padding: 30px 20px;
                border-radius: 15px;
                justify-content: center;
                & ul {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;
                }
                & ul li{
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    height: 25px;
                    list-style: none;
                    border-radius: 15px;
                    background-color: #f0f2f2;
                    &:hover {
                        background-color: #D81200;
                        color: #fff;
                    }
                    &.active {
                        background-color:#F22613;
                        color: #fff;
                    }
                }
            }
            &__region {
                display: flex;
                flex-direction: column;
                row-gap: 15px;
                padding: 20px;
                align-items: center;
                border: 1px solid rgba(26,26,26,0.15);
                border-radius: 15px;
                & select {
                    font-family: 'Montserrat Light', 'sans-serif';
                    width: 100%;
                    outline: 0;
                    border: 1px solid rgba(26,26,26,0.15);
                    height: 25px;
                    border-radius: 15px;
                    font-size: 16px;
                    text-align: center;
                    &:hover {
                        border: 1px solid #F22613;
                    }
                }
            }
        }
        &__cards {
            display: grid;
            font-family: 'IBM Plex sans';
	        grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
            justify-content: space-between;
            row-gap: 35px;
            column-gap: 35px;
            padding: 0 88px;
            &__card {
                border: 1px solid rgba(26,26,26,0.15);
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                row-gap: 15px;
                cursor: pointer;
                align-items: center;
                transition: 0.2s all ease-in-out;
                & img {
                    padding: 5px;
                    border-radius: 15px 15px 0 0;
                    width: 100%;
                }
                &__content {
                    padding: 0px 10px 15px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;
                    align-items: center;
                    &__title {
                        font-size: 20px;
                    }
                    &__price {
                        font-family: 'Montserrat';
                        color: #F22613;
                        font-size: 24px;
                    }
                }
                &:hover {
                    transform: translateY(-10px);
                }
            }
        }

        &__topUsers {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 15px;
            padding: 10px 20px 20px;
            border: 1px solid rgba(26,26,26,0.15);
            height: fit-content;
            border-radius: 15px;
            &__userCard {
                padding: 10px 15px;
                border-radius: 15px;
                box-shadow: 0px 0px 4px rgba(26,26,26,0.15);
                font-family: 'IBM Plex sans';
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                align-items: center;
                &__logo {
                    display: flex;
                    align-items: center;
                    column-gap: 15px;
                    width: 100%;
                    & .logo {
                        height: 30px;
                        width: 30px;
                        background-color: #f22613;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

.h2title {
    font-family: 'Montserrat';
    color: #F22613;
    font-size: 26px;
}

.h1title {
    font-family: 'Montserrat Light', sans-serif;
    color: #590B0B;
    font-size: 34px;
}


